.intro-section {
    display: flex;
    align-items: center;
    /* Vertically align the image and text */
    justify-content: space-between;
    /* Add space between the image and text */
    padding: 20px;
}

.intro-image {
    width: 250px;
    /* Adjust the image size */
    max-width: 100%;
    /* Ensures the image doesn't overflow its container */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 20px;
    /* Add some space between the image and text */
}

.intro-text {
    flex: 1;
    /* Allow the text to take up remaining space */
}

.intro-text h3 {
    font-size: 3em;
    margin: 0 0 10px 0;
}

.intro-text p {
    margin: 0;
}